body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

header {

}

main {
    padding-top: 80px;
}

/* NAVBAR CSS */
nav {
    height: 80px;
    position: fixed;
}

nav img {
    width: 200px;
    margin-top: 5px;
}

.dropdown-content {
    font-size: 100px;
}

nav a{
    height: 80px;

}


/* PARALLAX CSS */
















h2 {
    margin: 0px;
}

#opening {
    background-color: #F8F8F8;
    padding: 15px;
}

#aboutus {
    background-color: #EBEBEB;
    padding: 15px;
}

#services {
    background-color: #F8F8F8;
    padding: 15px;
}


#footer {
    background-color: #000;
    color: #EEEEEE;
    padding: 15px;
}


@media (min-width: 768px) {

}

@media (min-width: 990px) {
    header {
        background: no-repeat;
        background-size:100% auto;
        background-image: url();
        background-size: cover;
        background-position: center center;
        min-height: 0px;
    }

    nav img {
        padding-left: 15px;

    }

    .dropdown-button {
        visibility: hidden;
    }

}

@media (min-width: 1200px) {

}

