body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

header {
    background-image: linear-gradient(to bottom, #FFF, #888);
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    margin: 0px;
}

#opening {
    background-color: #F8F8F8;
    padding: 15px;
}

#aboutus {
    background-color: #EBEBEB;
    padding: 15px;
}

#menu {
    background-color: #F8F8F8;
    padding: 15px;
}


#footer {
    background-color: #000;
    color: #EEEEEE;
    padding: 15px;
}

.footer-flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-flex-col {
    margin: 5px;
    width: 100%;
    display: flex;
    text-align: center;
}

.footer-header-text {
    text-align: center;
}

.footer-info a {
    text-decoration: none;
    color: #AAAAAA;
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
    header {
        background: no-repeat;
        background-size:100% auto;
        background-image: url(../img/test-img.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 425px;
    }

    .footer-flex-col {
        flex-basis: 10%;
    }
}

@media (min-width: 1200px) {

}

