body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

header {
    background-image: linear-gradient(to bottom, #FFF, #888);
    color: #FFFFFF;
}

/* NAVBAR CSS */
nav {
    height: 80px;
    position: fixed;
    top: 0;
}

nav img {
    padding-top: 5px;
    width: 200px;
}

.dropdown-content {
    font-size: 100px;
}

#opening {
    margin-top: 80px;
}

nav a{
    height: 80px;
}



h2 {
    margin: 0px;
}

#opening {
    background-color: #F8F8F8;
    padding: 15px;
}

#aboutus {
    background-color: #EBEBEB;
    padding: 15px;
}

#services {
    background-color: #F8F8F8;
    padding: 15px;
}


#footer {
    background-color: #000;
    color: #EEEEEE;
    padding: 15px;
}


@media (min-width: 768px) {

}

@media (min-width: 990px) {
    header {
        background: no-repeat;
        background-size:100% auto;
        background-image: url(../img/test-img.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 425px;
    }

    nav img {
        padding-left: 15px;
        padding-top: 5px;
    }

    .dropdown-button {
        visibility: hidden;
    }

    #opening {
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {

}

